*{

    padding: 0;
    margin: 0;

}


header { 
   justify-items: auto;  
 
}


.primeirasection {  
    background-image: url(img/Sem\ título-1.jpg);
    display: flex;
    justify-items: auto; 
}

.div0202 { width: 100%;
    background-position: bottom;
    display: block;
    justify-items:auto;
    align-items: safe;
    padding: 50px;
}


.segundasection {display: flex;
    justify-items: auto; }


.div0303 {width: 100%;
    background-position: bottom;
    display: block;
    justify-items:auto;
    align-items: safe;
    padding: 50px;
}

.carousel-container{

    display: flex;
    justify-content: space-evenlyn;
}



.section01{
    display: flex;
    justify-items: auto;
}
.divpai01 { 
    width: 100%;
    background-position: bottom;
    display: block;
    justify-items:auto;
    align-items: safe;
    padding: 50px;
}



.section02 {
    display: flex;
    justify-content: space-evenlyn;
}

.divsec2 {
    width: 100%;
   
    background-position: bottom;
    display: block;
    justify-items: center;
    align-items: safe;
    padding: 50px;

}

.section02 img {
    width: 500px;}
.section {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura da seção */
}